/.vscode
/ALFRED-removebg-preview.png
/build
/captured_photo.jpg
/CMakeCache.txt
/CMakeFiles
/Django_digitwearit
/dlib-19.24.4
/dlib-19.24.99-cp312-cp312-win_amd64.whl
/dli_opencv.py
/dsd.png
/dsd_no_background.png
/D_model_face_alignement.py
/face_alignment.pth
/face_landmark.py
/files
/glasses.py
/glass_image.jpg
/glass_on_face.py
/h.png
/haarcascade_eye.xml
/haarcascade_eye_tree_eyeglasses.xml
/haarcascade_frontalface_alt.xml
/haarcascade_frontalface_default.xml
/kl.jpg
/model.py
/OIP.jpeg
/OIP2.jpeg
/PyOpenGL-3.1.7-py3-none-any.whl
/PyOpenGL-accelerate-3.1.7.tar.gz
/PyOpenGL_accelerate-3.1.7-cp311-cp311-win32.whl
/PyOpenGL_accelerate-3.1.7-cp311-cp311-win_amd64.whl
/result_L1.jpg
/result_L2.jpg
/shahsparx.jpg
/shape_predictor_68_face_landmarks.dat
/shape_predictor_68_face_landmarks.dat.bz2
/temp_photo.png
/venv
/VTO.py
/__pycache__